@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: "Lato", sans-serif;
  font-family: "Lora", serif; */
  font-family: "Shippori Mincho", serif;
  background-color: #f5f4ef;
  color: #686763;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

/*Header Background*/
.background:before {
  content: "";
  background-image: linear-gradient(
    to top,
    rgba(245, 244, 239, 1),
    rgba(239, 239, 239, 0)
  );
  position: absolute;
  height: 75px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* About Bg Blue */
.aboutBG::after {
  content: "";
  position: absolute;
  width: 75%;
  height: 88%;
  background: #687351;
  opacity: 0.4;
  filter: blur(5px);
  z-index: -1;
  border-radius: 1.5rem;
}

@media (max-width: 640px) {
  .aboutBG::after {
    content: "";
    position: absolute;
    width: 90%;
    height: 95%;
    background: #687351;
    opacity: 0.4;
    filter: blur(5px);
    z-index: -1;
    border-radius: 1.5rem;
  }
}

@media (max-width: 375px) {
  .facePic {
    width: 45%;
  }
}

/* Contact Form */
input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
  border-color: #d08c60;
  transition: 200ms;
  opacity: 0.6;
}

textarea:focus::placeholder {
  color: transparent;
}

textarea:focus {
  outline: none;
  border-color: #d08c60;
  transition: 200ms;
  opacity: 0.6;
}

/* SideNav */
.sideNav {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sideNav a {
  display: block;
  text-align: center;
  padding: 26px;
  transition: all 0.3s ease;
  color: #a2a392;
  font-size: 26px;
}

.sideNav a:hover {
  color: #d08c60;
  transform: translateY(-0.2em);
}

.sideNav a:focus {
  color: #d08c60;
}

/* Tech Carousel */

.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 20%;
}

.carousel-card :hover {
  transform: scale(0.9);
  box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
    10px 10px 8px rgba(152, 133, 133, 0.392),
    15px 15px 8px rgba(139, 154, 139, 0.303);
}

.carousel-card > img {
  width: 100%;
  height: auto;
  border-radius: 10%;
}

.carousel-track {
  display: flex;
  position: relative;
  right: 0;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 200%;
  height: 100%;
  animation: slide 20s linear infinite;
}

.carousel-track :hover {
  animation-play-state: paused;
}

@keyframes slide {
  0% {
    right: 100%;
  }
  100% {
    right: 0;
  }
}

.carousel-track1 {
  display: flex;
  position: relative;
  left: 0;
  justify-content: center;
  align-items: center;
  gap: 18px;
  width: 200%;
  height: 100%;
  animation: slide1 20s linear infinite;
}

@keyframes slide1 {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media (max-width: 640px) {
  .carousel-track {
    gap: 5px;
  }
  .carousel-track1 {
    gap: 5px;
  }
}
