@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* font-family: "Lato", sans-serif;
  font-family: "Lora", serif; */
  font-family: "Shippori Mincho", serif;
  background-color: #f5f4ef;
  color: #686763;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
}

/*Header Background*/
.background:before {
  content: '';
  background-image: linear-gradient(to top, rgba(245,244,239,1.000)
  , rgba(239,239,239,0));
  position: absolute;
  height: 75px;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Contact Form */
input:focus::placeholder {
  color: transparent;
}

input:focus {
  outline: none;
  border-color: #d08c60;
  transition: 200ms;
  opacity: 0.6;
}

textarea:focus::placeholder {
  color: transparent;
}

textarea:focus {
  outline: none;
  border-color: #d08c60;
  transition: 200ms;
  opacity: 0.6;
}

/* SideNav */
.sideNav {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sideNav a {
  display: block;
  text-align: center;
  padding: 26px;
  transition: all 0.3s ease;
  color: #a2a392;
  font-size: 26px;
}

.sideNav a:hover {
  color: #d08c60;
  transform: translateY(-0.2em);
}

.sideNav a:focus {
  color: #d08c60;
}
